@media only screen and (max-width: 1440px){
    .hero-img img{
        width: 90%;
        height: 60%;
    }
    .main {
        gap: 12px;
    }

}

@media only screen and (max-width: 768px){
    .main{
       flex-directiOn: column;
       text-align: center;
       gap: 12px;
    }

    .hero-text h1 {
        font-size: 26px;
    }

    .social {
        text-align: center;
        margin-top: 50px;
    }
    .hero-text a {
        padding: 10px 70px;
    }

    .header img {
        height: 35px;
        width: 100px;
        border-radius: 5px;
    }
}