@import url('https://fonts.google.com/cssZ?family-Manrope:wgh@800&display=swap');

* {
    margin: 0;
    padding: 0;
    /* This is offline font family added here, remove it later. */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}

body {
    font-family: 'Manrope', sans-serif;
    background: hsl(218, 23%, 16%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    background: hsl(217, 19%, 24%);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border-radius: 13px;
    position: relative;
}

.title {
    color: hsl(150, 100%, 66%);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    padding-bottom: 14px;
}

.advice {
    font-size: 18px;
    color: white;
    letter-spacing: 1.1px;
    margin-bottom: 20px;
}

.divider {
    width: 95%;
    display: block;
    padding-bottom: 20px;
    margin: 0 auto;
}

.btn {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    background: hsl(150, 100%, 66%);
    border: none;
    padding: 14px 16px;
    border-radius: 50%;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 12px 2px rgb(114, 255, 217);
}

@media only screen and (max-width: 425px) {
    .card {
        margin: 0 12px;
        padding: 20px;
    }
}