* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url(../Img/GreenBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
}


.container {
    max-width: 400px;
    background: white;
    margin: 5rem auto;
    border-radius: 20px;
    overflow: hidden;
}

.hero {
    height: 280px;
    width: auto;
    object-fit: cover;
    overflow: hidden;
}

.hero img{
    height: 100%;
}

.text-content {
    padding: 7%;
    text-align: center;
}

.title {
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 20px;
}
.text-content p.subtitle {
    color: #7a7a7a;
    margin-bottom: 25px;
}

.plan-box {
    background-color: hsl(227, 47%, 96%);
    border-radius: 12px;
    display: flex;
    padding: 1.3rem;
    align-items: center;
    justify-content: space-between;
}

.plan-box-left img {
    height: 45px;
    width: 45px;
}

.plan-box-left {
    display: flex;
    align-items: center;
    text-align: left;
}

.plan-box-left div {
    margin-left: 20px;
}

.plan-box-left div h5 {
    font-weight: 900;
    font-size: 15px;
    color: hsl(223, 47%, 23%);
}

.plan-box-left div p {
    font-size: 14px;
    color: #6a7a8a;
}

.plan-box a{
    font-weight: 900;
    color: hsl(223, 47%, 23%) 
}

.plan-box a:hover {
    text-decoration: none;
    color: hsl(240, 70%, 50%);
    transition: color .3s ease;
}

#change {
    text-decoration: none;
    font-size: 1.1rem;
    color: hsl(224, 48%, 51%)
}

a.proceed-btn {
    display: block;
    text-decoration: none;
    color: white;
    background-color: hsl(240, 70%, 50%);
    padding: 20px 0;
    border-radius: 12px;
    margin: 2rem 0;
    transition: background-color .3s ease;
}

a.proceed-btn:hover {
    background-color: hsl(240, 70%, 50%);
}

a.cancel-btn {
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-weight: 900;
    transition: color .3s ease;
}

a.cancel-btn:hover {
    color:hsl(223, 47%, 23%)
}